DISCORD_TOKEN=
HOST=127.0.0.1
PORT=3030
API_KEY=

COMMAND_PREFIX=k
COMMAND_OWNER_IDS=
AUTO_DELETE_COMMAND_MESSAGES=true
AUTO_DELETE_COMMAND_DELAY=0.0
AUTO_DELETE_COMMAND_RESPONSES=true
AUTO_DELETE_RESPONSE_DELAY=0.0

AUTO_DETECT_INTERVAL=2.0
AUTO_WATCH_ALL_LIVES=true
AUTO_WATCH_TIMEOUT=5.0

# Activity log
LOG_FILE=_support/logs/bot.log
LOG_TO_TERMINAL=false
LOG_MAX_BYTES=2097152
LOG_BACKUP_COUNT=3
